header{
    background-color: rgba(0, 0, 0, 0.842);
}

header li {
    display: inline;
    padding: 10px ;
    float: left;
    margin: 10px;
    
}

header li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

header li:hover {
    background-color: #92191f;
}

header img {
    /* margin: 600px; */
    width:42;
     height:42; 
     float:right;
    
}

.tracks-right{
    display: inline;
}

.register-form{
    background-color: rgb(239, 253, 245);
    position: center;
    text-align: center;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 5px;
    border: 5px solid;
    border-color: rgb(218, 236, 226);
}

.register-form h2{
    text-align: left;
    color: rgb(32, 122, 80);
}

.register-form p{
    background-color: rgb(218, 236, 226);
    text-align: left;
    padding: 5px;
   border: 2px;
   border-style: dashed;
   border-color: rgb(32, 122, 80);


}

.register-form span{
    color: red;
}

.in-lable{
    width: 300px;
    padding: 6px;
    text-align: right;
    color: rgb(32, 122, 80);
    background-color: rgb(218, 236, 226);
    
}

.parent{
    display: flex;
}

.child{
    margin: 5px;
}

.child label{
    display: inline-block;
}

.tracks-left{
    float: left;
}

.tracks-right{
    float: right;
    margin-right: 400px;

}

.clear-fix{
    clear: both;
}
